{% extends "base.html" %}
{% block title %}{{ SITENAME }}的存档{% endblock %}
{% block content %}  

<div class="blogItem">
<dl>
						<h2>{{ SITENAME }}的存档</h2>
						{% for article in dates %}
                                                    <dt>{{ article.locale_date }}</dt>
                                                    <dd><a href='{{ article.url }}'>{{ article.title }}</a></dd>
                                                    
                                                {% endfor %}
                                                </dl>


</div>



{% endblock %}





