{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %} 
                        {% if articles %}
                        {% for article in articles %}        
                            {% if loop.index <= 3 %}
  	
    <div class="blogItem">
    
      <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
      <h3>{{ article.locale_date }}</h3>
      
      {{ article.content }}	

      
      <h3 class="blogMeta">作者: <a href="#">{{ article.author }}</a>, 分类: <a href="{{ SITEURL }}/category/{{ article.category }}.html">{{ article.category }}</a></h3>
	<h3 class="blogMeta">标签: {% for tag in article.tags %}
<span><a href="{{ SITEURL }}/tag/{{ tag }}.html">{{ tag }}</a> / </span>
{% endfor %}</h3>
    
    </div><!-- end #blogItem -->
 {% if loop.length  > 3 %}	
        <div class="blogItem">
                <h2>其它文章</h2>
        </div>
{% endif %}
{% else %}    
    <div class="blogItem">
    
      <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
      <h3>{{ article.locale_date }}</h3>
      
      {{ article.summary }}	
<h3 class="blogMeta">作者: <a href="#">{{ article.author }}</a>, 分类: <a href="{{ SITEURL }}/category/{{ article.category }}.html">{{ article.category }}</a></h3>
	<a href="{{ SITEURL }}/{{ article.url }}">阅读全文…</a>
      
      
	
    
    </div><!-- end #blogItem -->
  {% endif %}
{% endfor %}
{% else %}
       
{% endif %}
{% endblock content %}
